node_modules
.env
dist
build
.DS_Store
*.log
.next
.vscode
.idea
package-lock.json
/admin/dist
/admin/node_modules
/backend/node_modules
/backend/prisma/client
/frontend/dist
/frontend/node_modules
/frontend/.next
/uploads/*
!/uploads/.gitkeep
